@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One','Open Sans', sans-serif;
}

#main{
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    padding: 20px;
}

#main h2{
    color: cornflowerblue;
    text-align: center;
    font-size: 1.5vw;
}

#header{
    font-size: 2vw;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.box{
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#left{
    float: left;
    width: 60%;
}

.stylInput{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#main label{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1.5vw;
}

#main button{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5vw;
}

#checkboxStyle{
    margin: 12px 0;
}


#right{
    float: right;
    width: 40%;
}

#stylInputSearch{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.result-cari{
    display: none;
}

#footer{
    font-size: 1vw;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

@media screen and (max-width: 500px) {
    #right{
        width: 100%;
        margin-top: 10px;
    }
    #left{
        width: 100%;
    }

    #main h2{
        font-size: 3vw;
    }

    #header{
        font-size: 4vw;
    }

    #main label{
        font-size: 3vw;
    }

    #footer{
        font-size: 2vw;
    }

    #main button{
        font-size: 2.5vw;
    }

}